---
layout: base.njk
---
<div class="container">
      <h1>Mercada</h1>
      <hr />
      <p>
        Culinary adventures by <strong>Marcella</strong> and
        <strong>Matt</strong>
      </p>
      <p><a href="mailto:hello@mercada.us">Say Hello</a></p>
    </div>
