.container {
  width: 400px;
  margin: 2rem auto;
}
h1 {
  font-family: "Inspiration", cursive;
  font-size: 120px;
  font-weight: 100;
  color: #333;
  text-align: center;
}

hr {
  margin: 6rem auto;
  border-color: rgba(181, 228, 188, 0.5);
}

p {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  color: #333;
  text-align: center;
}

a {
  display: inline-block;
  background-color: rgba(181, 228, 188, 1);
  width: auto;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  border-radius: 50px;
  margin-top: 3rem;
  color: #333;
  font-weight: 700;
}